@media screen and (max-width: 960px) {
    body {
        overflow-x: hidden;
    }

    .about .row{
        flex-direction: column;
    }

    .about .row .container-img{
        width: 100%;
    }
    
}